name: Build PDF Encrypt/Decrypt Libraries

on:
  push:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  build:
    name: Build binaries for all platforms
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            ext: .so
            outfile: pdfencrypt_linux_x64.so

          - os: windows-latest
            goos: windows
            goarch: amd64
            ext: .dll
            outfile: pdfencrypt_win_x64.dll

          - os: macos-latest
            goos: darwin
            goarch: amd64
            ext: .dylib
            outfile: pdfencrypt_darwin_x64.dylib

          - os: macos-latest
            goos: darwin
            goarch: arm64
            ext: .dylib
            outfile: pdfencrypt_darwin_arm64.dylib

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Build shared library
        env:
          CGO_ENABLED: 1
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          echo "Building for $GOOS $GOARCH"
          go build -buildmode=c-shared -o lib/${{ matrix.outfile }} ./src

      - name: Upload compiled library
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.outfile }}
          path: lib/${{ matrix.outfile }}
